@import "autumn.css";

#jumbotron{
	background-color:#7AAD8D;
	color: white;
}

#jumbotron a{
	color:#F2F2F2;
}
#jumbotron .btn-default{
	color:#597E67;
}

#post #content p,ul,ol{
  font-size: 18px;
  text-align:justify;
}
#post.container{
  max-width: 50em;
}
#post img{
    max-width:100%
}

#post .first-letter{
  border-radius: 0px;
  font-size: 280%;
  padding: 0px 0px;
  margin-right: 6px;
  margin-top: 0;
  float: left;
  line-height: 1;
}

#post #content .caption{
    text-align: center;
    font-size: 14.4px;
    color: gray;
}


edit, .edit{
    color:green;
}

green, .green{
    color:green;
}

red, .red{
    color:red;
}

.footnotes{
    text-align: left;
}

a.footnote:before {   
 content: "[";
}

a.footnote:after {
    content: "]";
}

a {
color:#50715E;
}

#social-links a{
    text-decoration: underline;
    font-weight: 500; 
}

#profile-picture{
    width: 220px;
    margin-right: 20px;
}

#post{
/*    background-color: cyan;*/
}

@media print {
  @page {
    size: A4 landscape; /* Define o tamanho como A4 e a orientação como paisagem */
    margin: 0.3in;
  }
}


.mesas{
  display: flex;
  flex-wrap: wrap;
}

.mesa{
  position: relative
  border: 1px;
  margin: 5px;
  background-color: #FBF3E8 !important;;
  padding: 20px;
  width: 300px;
  display: flex;
    flex-direction: column; /* Stack elements vertically */
/*    justify-content: space-between;*/
  height: 600px;
  
}



.mesa .header{

  font-family: 'League Script', cursive;
  font-weight: 400;
  font-style: normal;

  color: #5B3D23 !important;
  padding-top:80px;
  text-align: center;
  font-size: 36pt;
}

.mesa .persons{
  font-family: "Baskerville";
  font-size: 11pt;
  padding-left: 70px;
  padding-top: 20px;
     flex: 1;
/*     background-color:lightyellow;*/
}


.mesa .footer{
   text-align: center;
   margin-bottom: 40px;
   color: #5B3D23;

}

.mesa .svg-object{
  --svg-fill-color: blue !important; 
  width: 160px;
}

.profile-container {
  max-width: 750px;
  margin: 0 auto;
}

.menu .active {
  font-weight: 400;
}
