#jumbotron{
	background-color: #90AEC5;
	color: white;
}

#jumbotron a{
	color:#F2F2F2;
}
#jumbotron .btn-default{
	color:#557bA0;
}


#post #content{
  font-size: 18px;
  text-align:justify;
}
#post.container{
  max-width: 50em;
}
#post img{
/*  display: block;
  margin-left: auto;
  margin-right: auto;
*/}