@import "autumn.css";

#jumbotron{
	background-color: #90AEC5;
	color: white;
}

#jumbotron a{
	color:#F2F2F2;
}
#jumbotron .btn-default{
	color:#557bA0;
}


#post #content p,ul,ol{
  font-size: 18px;
  text-align:justify;
}
#post.container{
  max-width: 50em;
}
#post img{
    max-width:100%
}

#post .first-letter{
  border-radius: 0px;
  font-size: 280%;
  padding: 0px 0px;
  margin-right: 6px;
  margin-top: 0;
  float: left;
  line-height: 1;
}

#post #content .caption{
    text-align: center;
    font-size: 14.4px;
    color: gray;
}


edit, .edit{
    color:green;
}

.footnotes{
    text-align: left;
}

a.footnote:before {   
 content: "[";
}

a.footnote:after {
    content: "]";
}

#post{
/*    background-color: cyan;*/
}