---
title: Luís Cruz
layout: default
---

<!DOCTYPE html>
<html>
  <head>
    <title>Luis Cruz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id='jumbotron' class="jumbotron">
		<div class='container'>
	      <div class="media">
	      <img class="media-object pull-left" width="120px" src="img/profile2.jpg"/>
	      <div class="media-body"><h1 class="">Hello, I'm Luís :)</h1>
			  <a class="btn btn-default btn-xs" target='_blank' role="button" href="https://www.linkedin.com/in/luismirandacruz">
				  <ion-icon name="logo-linkedin"></ion-icon> LinkedIn
			  </a>
		      <a class="btn btn-default btn-xs" target='_blank' role="button" href="http://github.com/luiscruz">
				  <ion-icon name="logo-github"></ion-icon> Github
			  </a>
		      <a class="btn btn-default btn-xs" target='_blank' role="button" href="https://scholar.google.com/citations?user=O13oaH0AAAAJ&hl=en">
				  <ion-icon name="logo-google"></ion-icon> Google Scholar
			  </a>
		      <a class="btn btn-default btn-xs" target='_blank' role="button" href="https://twitter.com/luismcruz">
                  <ion-icon name="logo-twitter"></ion-icon> Twitter
              </a>
		      <a class="btn btn-default btn-xs" target='_blank' rel="noopener noreferrer" role="button" href="https://orcid.org/0000-0002-1615-355X">
                  <img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;margin-bottom:.2em;" alt="ORCID iD icon"><big></big>ORCID
              </a>
              <!-- <a class="btn btn-default btn-xs" target='_blank' role="button" href="http://calendly.com/luiscruz">
                  <big><i class='ion-clock'></i></big>&nbsp; Schedule a meeting
              </a> -->


	        </div>
	      </div>

  	      <p><a class="" role="button" href="ln[dot]tfledut[at]zurC.L"> E-mail: <span class="email">ln[dot]tfledut[at]zurC.L</span></a>
            <br/>
          <small><small>Research Interests: <strong>Maintainability and Lifecycle of AI</strong>; <strong>Green Computing</strong></small></small>
        </p>
  		  <p>
          
	      <a class="btn btn-primary btn-xs" target='_blank' role="button" href="https://se.ewi.tudelft.nl">
			  TU Delft Postdoc | Building 28, Office 4.W.740
		  </a>
	      <a class="btn btn-primary btn-xs" target='_blank' role="button" href="https://se.ewi.tudelft.nl/ai4fintech/index.html">
			  Scientific Coordinator of AFR
		  </a>
			</p>

		</div>
    </div>

    <div class="container" >
      <div class="list-group">
        <a href="https://tqrg.github.io/energy-patterns/" target="_blank" class="list-group-item ">
          <span class="badge">Web</span>
                <h4 class="list-group-item-heading"><ion-icon name="ios-leaf"></ion-icon> Energy Patterns for Mobile Apps</h4>
                <small class="list-group-item-text">Online Catalog with 22 patterns to improve the energy efficiency of iOS and Android apps.</small>
        </a>
        <a href="https://github.com/luiscruz/awesome-mobile-app-energy-papers" target="_blank" class="list-group-item ">
          <span class="badge">Web</span>
                <h4 class="list-group-item-heading"><ion-icon name="paper"></ion-icon> Awesome Mobile App Energy Papers</h4>
                <small class="list-group-item-text">A curated list of awesome papers that study energy efficiency for mobile applications.</small>
        </a>
        <a href="cv/cvLuisCruz.pdf" target="_blank" class="list-group-item list-group-item-info">
          <span class="badge">PDF</span>
                <h4 class="list-group-item-heading">Download Curriculum Vitae</h4>
                <small class="list-group-item-text">Updated on December, 2019.</small>
        </a>
      </div>
      <h5 class="text-muted">Publications</h5>

      <div id="bibtex_display" class="list-group">
       {% for publication in site.data.publications %}
     <div class="list-group-item list-group-item-default" >
          <small class="list-group-item-text">
            {% if publication.award %}
              <span class="label label-primary pull-right">{{publication.award}}</span>
            {% endif %}
            {{publication.author}} ({{publication.year}}).
            <a href={{publication.url}} target="_blank"><strong>{{publication.title}}</strong></a>.
            {% if publication.booktitle %}
              In <i>{{publication.booktitle}}</i>{% if publication.pages %} (pp. {{publication.pages}}){% endif %}.
            {% endif %}
            {% if publication.journal %}
              <i>{{publication.journal}}</span></i>{% if publication.pages %} (pp. {{publication.pages}}){% endif %}.
            {% endif %}
            {% if publication.publisher %}{{publication.publisher}}.{% endif %}
          </small>
          {% if publication.slides %}
            <a href="{{publication.slides}}" target="_blank"><small>(Slides)</small></a>
          {% endif %}
        {% if publication.video %}
            <a href="{{publication.video}}" target="_blank"><ion-icon name="logo-youtube"></ion-icon></a>
        {% endif %}
      </div>
      {% endfor %}
      </div>
</div>


    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="js/jquery.dcspamless.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    <script>
       $(function(){
          $('.email').dcSpamless();
       });
    </script>

  </body>
</html>
